@import url('https://fonts.googleapis.com/css?family=Roboto');

//Variables:

$color1: #5680e9;
$color2: #84ceeb;
$color3: #5ab9ea;
$color4: #c1c8e4;
$color5: #8860d0;

html {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  text-align: center;
}
body {
  color: white;
  background-color: $color4;
  background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
}
body, h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}


//Hiding the number input increment/decrement arrows
input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
}


//Reusable classes
%flex-column-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.calculator {
  @extend %flex-column-centered;
  //background-color: violet;
  .meal-display {
    @extend %flex-column-centered;
    margin: 2em 0;
    //background-color: aqua;
    h1.title {
      font-size: 2.5em;
      margin-bottom: 1em;
      color: $color1;
    }
    .meal-totals {
      border: .5em solid $color1;
      border-radius: 10px;
      background-color: $color5;
      h2.totals-label {
        padding-bottom: .2em;
        background-color: $color1;
      }
      .totals-table {
        @extend %flex-column-centered;
        width: 22em;
        //background-color: tan;
        .meal-nutrient-total {
          display: flex;
          border: .05em solid $color1;
          width: 100%;
          //background-color: tomato;
          h3.total-column {
            display: flex;
            padding: .5em 0;
            width: 50%;
            &.label {
              justify-content: flex-end;
              //background-color: darkslateblue;
            }
            &.amount {
              justify-content: flex-start;
              //background-color: darkcyan;
            }
          }
        }
      }
    }
    p.instructions {
      margin-top: 2em;
      padding: 0 .5em;
      color: $color5;
    }
    @media (min-width: 320px) and (max-width: 480px) {
      .meal-totals {
        .totals-table {
          width: 18em;
        }
      }
    }
  }
  .foods {
    @extend %flex-column-centered;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 60em; //minimum to allow 3 rows max
    //background-color: cadetblue;
    .food {
      @extend %flex-column-centered;
      margin: 0 2em 1em;
      width: 16em;
      border: .3em solid $color5;
      border-radius: 10px;
      box-sizing: border-box;
      color: white;
      background-color: $color3;
      h3.food-label {
        margin: .5em 0 1em;
      }
      .input-display {
        .input {
          border: .2em solid  $color5; 
          border-radius: 10px; 
          padding: .5em;  
          background: white;
          margin: 0 0 10px 0;
          width: 4em;
        }
      }
      .details-display {
        width: 100%;
        .details-label {
          @extend %flex-column-centered;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          color: white;
          background-color: $color5;
          /*box-shadow: -1px -1px 3px 0px #1a1a1a4f;*/
          cursor: pointer;
          i.icon {
            font-size: 1.5em;
            &.down-icon {
              padding: 0 .5em .3em;
            }
            &.up-icon {
              padding: .3em .5em 0;
            }
          }
        }
        ul.nutrient-list {
          .food-nutrient-total {
            display: flex;
            padding: .2em 0;
            border-bottom: .05em solid $color5;
            //background-color: bisque;
            p.food-column {
              display: flex;
              width: 50%;
              &.label {
                justify-content: flex-end;
                //background-color: darkslateblue;
              }
              &.amount {
                justify-content: flex-start;
                //background-color: darkcyan;
              }
            }
          }
        }
      }
    }
  }
}


/*Media queries*/
@media (min-width: 320px) and (max-width: 480px) {
  body {
    font-size: .8em;
  }
}

/*ADD BACKGROUND IMAGE*/
/*POSSIBLY ADD MORE FOODS*/